.task-list
{
    border-bottom: 1px solid #f4f4f4;margin-bottom: 5px;
}

.task-list :first
{
    border-bottom: 1px solid #f4f4f4;
}
.align-right
{
    text-align: right;
}
.logout-link
{
    padding-top: 36px;
    cursor: pointer;
}